<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button 
        routerLink="/"
        class="btn btn-link"
        >Go Home</button>
    </div>

    <div class="info">
        <strong>Author</strong>
        <small>28.07.2022</small>
    </div>

    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, impedit. Veritatis distinctio at voluptas sint obcaecati beatae quos facere quas, sapiente illum, praesentium odit totam maxime voluptatibus nesciunt ipsam officia nisi, corrupti delectus assumenda dolor? Veniam earum neque dolorum, reiciendis atque tenetur molestias repellendus. Placeat iure cupiditate nihil molestiae eligendi?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, impedit. Veritatis distinctio at voluptas sint obcaecati beatae quos facere quas, sapiente illum, praesentium odit totam maxime voluptatibus nesciunt ipsam officia nisi, corrupti delectus assumenda dolor? Veniam earum neque dolorum, reiciendis atque tenetur molestias repellendus. Placeat iure cupiditate nihil molestiae eligendi?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, impedit. Veritatis distinctio at voluptas sint obcaecati beatae quos facere quas, sapiente illum, praesentium odit totam maxime voluptatibus nesciunt ipsam officia nisi, corrupti delectus assumenda dolor? Veniam earum neque dolorum, reiciendis atque tenetur molestias repellendus. Placeat iure cupiditate nihil molestiae eligendi?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, impedit. Veritatis distinctio at voluptas sint obcaecati beatae quos facere quas, sapiente illum, praesentium odit totam maxime voluptatibus nesciunt ipsam officia nisi, corrupti delectus assumenda dolor? Veniam earum neque dolorum, reiciendis atque tenetur molestias repellendus. Placeat iure cupiditate nihil molestiae eligendi?</p>
    </div>
</div>
